* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  anchor-name: --some-anchor;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 30px;

  .box {
    height:4rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 10px;
    p {
        font-size: 2ren;
        color: white;
    }
  }
  .box:hover {
    anchor-name: --some-anchor;
    transform: scale(1.2);
  }

  .anchor {
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.1s ease-in;
    mix-blend-mode: difference;
  }
}
body:has(.box:hover) .box {
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
