* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 30px;
    
    .box {
        height: 200px;
        width: 200px;
    }
    .box:hover {
        anchor-name: --some-anchor;
    }
    
    .red {
        background-color: rgb(134, 27, 27);
        
    }
    
    .blue {
        background-color: rgb(32, 32, 129);
        
    }
    
    .green {
        background-color: rgb(31, 109, 31);
        
    }
    .anchor {
        background-color: #ffffff;
        border-radius: 10px;
        position: absolute;
        height: 50px;
        top: anchor(top);
        left: anchor(left);
        width: 60px;
        position-anchor: --some-anchor;
        transition: all 0.1s ease-in;
        mix-blend-mode: overlay;
    }
}