@font-face {
  font-family: helvetica;
  src: url(fonts/HelveticaNeueRoman.otf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(fonts/HelveticaNeueBold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: helvetica;
}

main {
  background: linear-gradient(to right top, black, rgb(36, 36, 36), black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .all-reels {
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    .reel {
      position: relative;
      padding: 1rem;
      color: white;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
      .bottom {
        position: absolute;
        bottom: 5%;
        display: flex;
        flex-direction: column;
        left: 5%;
        .caption {
          padding: 0rem 0.75rem;
        }
        .profile {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.75rem;
          img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            object-fit: cover;
          }
          p {
            font-size: 0.75rem;
            font-family: helvetica-bold;
          }
          p:hover{
            color: red;
            transition: ease 0.2s all;
            cursor: pointer;
          }
          button {
            font-size: 0.6rem;
            padding: 0.1rem 0.2rem;
            color: white;
            background: transparent;
            border: 1px solid rgb(71, 71, 71);
            border-radius: 0.2rem;
            transition: ease-in-out 0.5s all;
        }
        button:hover {
            background-color: royalblue;
            cursor: pointer;
        }
        }
      }
      .interactions {
        position: absolute;
        right: 7%;
        bottom: 20%;
        .like,
        .comment,
        .share,
        .more {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0.3rem 0rem;
          gap: 0.05rem;
          cursor: pointer;
          i:hover {
            color: red;
            transition: ease 0.2s all;
          }
        }
      }
      video {
        border-radius: 0.5rem;
        height: 100%;
        width: 500px;
      }
    }
  }
}

.reel::-webkit-scrollbar {
  display: none;
}
.all-reels::-webkit-scrollbar {
  display: none;
}
.love {
    color: red;
}