* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #2b2d42;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  background-color: #8d99ae;
  padding: 40px;
  border-radius: 10px;

  .outer {
    width: 100%;
    height: 30px;
    background-color: #edf2f4;
    border-radius: 2rem;
    margin: 2rem 0;
    overflow: hidden;
    .inner {
        height: 100%;
        width: 0%;
        background-color: #ef233c;
    }
  }
  p {
    text-align: center;
    font-size: 2rem;
    span {
      font-weight: bold;
      color: #ef233c;}
  }
  h1 {
    font-size: 6rem;
  }
  button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #d90429;
    color: white;
  }
  button:hover {
    cursor: pointer;
    background-color: #880017;
  }
  button:active {
    transform: scale(0.98);
    background-color: #4b000c;
  }
}
