@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html,
body,
.main,
#root,
.section {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  .logo {
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .middle {
    a {
      text-decoration: none;
      color: black;
      margin: 1.5rem;
    }
  }
  .right {
    button {
      padding: 0.5rem 1rem;
      background-color: black;
      color: white;
      border-radius: 1rem;
    }
  }
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  .hero {
    margin: 1rem;
    background: url("https://images.unsplash.com/photo-1680428880168-eb91190ca246?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 99%;
    border-radius: 1rem;

    .herotxt {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      .middle-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        h1 {
          font-size: 4rem;
          text-align: center;
          font-weight: 400;
        }
        .tagline {
          p {
            font-size: 1.5rem;
            text-align: center;
            font-weight: 200;
          }
        }
        .btn {
          button {
            padding: 0.75rem 1rem;
            background-color: black;
            color: white;
            font-size: 1rem;
            border-radius: 1.5rem;
            font-weight: 400;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2rem;
        margin-top: auto;
        width: 100%;
        .bottom-left {
          p {
            font-size: 0.75rem;
          }
        }
        .bottom-right {
          .socials {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .social {
              a {
                text-decoration: none;
                border-bottom: 1px dotted white;
                color: white;
                font-size: 0.75rem;
              }
            }
          }
        }
      }
    }
  }
}
