* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.card {
  width: 500px;
  padding: 1rem;
  margin: 1rem;
  background-color: wheat;
}

.all-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
button {
  padding: 0.5rem 1rem;
  background-color: beige;
  border: none;
  cursor: pointer;
}