*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

h1 {
    color: rgb(55, 55, 68);
    background-color: rgb(255, 177, 177);
    font-size: 110px;
    font-family: "Roboto", sans-serif;
}