* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  .frame {
    background-color: white;
    width: 30vw;
    height: 100%;
    border-radius: 20px;
    padding: 0.5rem;
    overflow: hidden;
    .story-open {
      height: 100%;
      width: 100%;
      display: none;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
    }
    .stories {
      width: 100%;
      height: 15vh;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      .story {
        border-radius: 50%;
        height: 10vh;
        width: 5vw;
        margin: 3px;
        display: inline-block;
        overflow: hidden;
        .dp {
          object-fit: cover;
          height: 100%;
          width: 100%;
          object-position: center;
          overflow: hidden;
        }
      }
    }
  }
}
