* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

:root {
    --red: red;
    --x: 20px;
    --y: 20px;
}

.background {
    height: 100%;
    width: 100%;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.box {
    height: 100%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    position: absolute;
    background: radial-gradient( 150px at var(--x) var(--y),transparent 10%,rgba(0, 0, 0, 0.856) 100%);
}