* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  font-size: 10rem;
  color: white;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
input {
  padding: 0.5rem;
  font-size: 1.5rem;
}
