@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 300px;
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.08),
    0 10px 20px rgba(0, 0, 0, 0.12);
  .upper {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lower {
    .text-area {
      gap: 1rem;
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.25rem 0rem 0rem 0rem;
      }
      p {
        font-size: 0.75rem;
        margin: 0.25rem 0rem;
      }
      .colours {
        display: flex;
        gap: 1rem;
        .color {
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
          background-color: blue;
          border: 1px dashed black;
        }
        .color:nth-child(1) {
          background-color: rgb(219, 200, 163);
          border: 1px solid grey;
        }
        .color:nth-child(2) {
          background-color: rgb(24, 5, 5);
        }
        .color:nth-child(3) {
          background-color: rgb(51, 51, 51);
        }
      }
      .bottom {
        margin-top: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          p {
            font-size: 1.2rem;
            font-weight: 900;
          }
        }
        .right {
          .add-to-cart {
            padding: 0.5rem 2rem;
            background-color: black;
            color: white;
            border-radius: 0.5rem;
            font-weight: 500;
          }
          .add-to-cart:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
            transition: all 0.3s ease;
            cursor: pointer;
          }
          .add-to-cart:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
