* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "helvetica neue", sans-serif;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 500px;
  width: 400px;
  background-color: white;
  padding: 20px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 22px;
    text-align: center;
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(-90deg);
    color: red;
    font-size: 150px;
    opacity: 0;
    transition: all ease 0.3s;
  }
}
