* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right top, black, rgb(32, 32, 32), black);
}

html {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    p {
      color: rgb(0, 255, 0);
      font-size: 2rem;
    }
  }
}
