@font-face {
  font-family: stranger-things-normal;
  src: url(fonts/Benguiat\ Bold.ttf);
}

@font-face {
  font-family: stranger-things-border;
  src: url(fonts/Stranger\ Things\ Outlined.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
}

@property --angleRotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotateBG {
  from {
    --angleRotate: 0deg;
  }
  to {
    --angleRotate: 360deg;
  }
}

main {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    gap: 0.5rem;
    box-shadow: 0rem 0rem 0px rgb(255, 0, 0);
    background: linear-gradient(black) padding-box,
      conic-gradient(from var(--angleRotate), black, rgb(255, 0, 0), black)
        border-box;
    border: 5px solid rgba(0, 0, 0, 0);
    animation: rotateBG 5s infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    border-width: 0px;
    transition: all 0.5s linear;
    img {
      width: 10rem;
      object-fit: cover;
    }
    .text {
      text-align: center;
      margin: 0.5rem 0rem;
      h1 {
        font-size: 0.7rem;
        font-family: stranger-things-normal;
        margin-bottom: 0.25rem;
        color: white;
        transition: all 0.5s ease-in;
        text-shadow: 0px 0px 0px red;
      }
      p {
        font-size: 0.4rem;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
  .box:hover {
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0rem 0rem 50px rgb(255, 0, 0);
    h1 {
        color: rgb(255, 0, 0);
        text-shadow: 0px 0px 30px red;
    }
  }
}
