@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1512827618699-c1906f7e688b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

h1 {
     font-family: "Montserrat", sans-serif;
    color: white;
    margin: 20px;
    margin-top: 100px;
    font-size: 110px;
}

button {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    background-color: rgb(197, 152, 3);
    color: white;
    font-size: 15px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
}
