@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f9fc;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #162b45;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

header h1 {
  font-size: 30px;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#head p {
  font-size: 12px;
  margin: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section {
  margin: 15px auto;
  width: 100%;
  max-width: 600px; /* or whatever fits your design */
}

h3 {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
p {
  font-size: 10px;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
#education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d9ecff;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffd18d;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dda9ff;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a9ffb5;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
#block {
  background-color: white;
  padding: 5px;
  margin: 2px;
  width: 90%;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: rgb(0, 0, 68);
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

#skills #block p {
  text-transform: uppercase;
}
